@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* ---------------------------------- Border */

.border-square {
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	border-style: solid;
	border-width: 0.2rem;
}

.border-curve {
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	border-style: solid;
	border-width: 0.2rem;
	border-radius: 2rem;
}

p, .text-basic {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 2rem;
}

.header-main {
	padding: 0;
	margin-bottom: 1.2rem;
	margin-right: 0;
}

.header-text {
	padding: 0;
	margin: 0;
}

.game-main {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

/* ---------------------------------- Text */

.text-align-center {
	text-align: center;
}

a, select {
	color: #000000;
}

p, a, input, select, textarea {
	font-family: "Exo", sans-serif;
	font-weight: 700;
}

input[readonly], select[disabled], textarea[readonly] {
	background: none;
	border: none;
}

.categories-filter, .game-create, .game-edit, .game-delete, .game-save, .game-cancel {
	cursor: pointer;
}

/* ---------------------------------- Inputs */

#input-title {
	width: 100%;
	outline: none;
}

#input-cost {
	max-width: 6rem;
}

#input-rating {
	max-width: 4rem;
}

#input-category {
	padding: 0;
}

#input-desp {
	width: 100%;
}

/* ---------------------------------- Categories */

#categories-new {
	width: 100%;
}

.categories-text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 3rem;
}

.categories-remove {
	position: absolute;
    right: 0.6rem;
	margin-top: -2.6rem;
	font-size: 1.2rem;
}

/* ---------------------------------- Colors */

.color-red {
	border-color: #8b0000;
	background-color: #ff4500;
}

.color-orange {
	border-color: #b8860b;
	background-color: #ffa500;
}

.color-green {
	border-color: #006400;
	background-color: #adff2f;
}

.color-blue {
	border-color: #0080ff;
	background-color: #94c7de;
}

.color-purple {
	border-color: #800080;
	background-color: #d87093;
}