<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<title>GameList</title>
</head>
<body>
	<header>
		<!-- Title -->
		<h1 class="text-align-center">
			GameList
		</h1>
	</header>
	
	<div class="col">
		<div class="row no-gutters">
			
			<!-- List of games -->
			<div class="col-6 offset-0 offset-md-2 col-md-4">
				<a href="/new"><p class="border-basic color-green">Add New Game</p></a>

				{% for game in games | reverse %}
					<a href="/info/{{ game._id }}"><p class="border-basic color-purple">{{ game.title }}</p></a>
				{% endfor %}
			</div>
			
			<!-- List of categories -->
			<div class="col-6 offset-0 offset-md-1 col-md-3">
				<input class="text-basic border-basic color-green" type="text" id="categories-new" name="categories" value="Add New Category">
				
				{% for category in categories | reverse %}
					<p class="border-basic color-blue">{{ category.name }}</p>
				{% endfor %}

				<p class="border-basic color-orange">None</p>
			</div>
		</div>
	</div>
</body>
</html>