<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<title>GameList</title>
</head>

<body>
	<div data-id="{{ game._id }}" data-title="{{ game.title }}" data-cost="{{ game.cost }}" data-rating="{{ game.rating }}" data-desp="{{ game.desp }}" class="row no-gutters">
		
		<!-- Infos -->
		<div class="col-12 offset-0 offset-md-3 col-md-6 no-gutters game-main border-basic color-blue">
			
			<p class="text-align-center"><input class="text-align-center" type="text" id="input-title" name="title" value="{{ game.title }}" readonly></p>
			<p>Cost: £<input type="text" id="input-cost" name="cost" value="{{ game.cost }}" readonly></p>
			<p>Rating: £<input type="text" id="input-rating" name="rating" value="{{ game.rating }}" readonly></p>
			
			<p><textarea id="input-desp" rows="4" readonly>{{ game.desp }}</textarea></p>
		</div>
		
		<!-- Buttons -->
		<p class="text-align-center col-12 offset-0 offset-md-3 col-md-2 no-gutters border-basic color-orange game-edit">Edit</p>
		<p class="text-align-center col-12 offset-0 col-md-2 no-gutters border-basic color-red game-delete">Delete</p>
	</div>
</body>
</html>