<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<title>GameList</title>
</head>
<body>
	<header>
		<!-- Title -->
		<div class="col header-main">
			<div class="row no-gutters list-inline-item">
				<div class="col-12">
					<h1 class="text-align-center border-square color-blue header-text">GameList</h1>
				</div>
				
				<div class="col-12 col-md-6">
					<a href="/"><p class="text-align-center border-square color-purple header-text">Home Page</p></a>
				</div>
				
				<div class="col-12 col-md-6">
					<a href="/new"><p class="text-align-center border-square color-purple header-text">Add new Game</p></a>
				</div>
			</div>
		</div>
	</header>
	
	<div class="row no-gutters">
		
		<!-- Infos -->
		<div class="col-12 offset-0 offset-md-3 col-md-6 no-gutters game-main border-curve color-blue">
			<p class="text-align-center"><input class="color-orange" type="text" id="input-title" name="title" value="" required></p>
			<p>Cost: £<input class="color-orange" type="number" id="input-cost" name="cost" value="0" required></p>
			<p>Rating: <input class="color-orange" type="number" id="input-rating" name="rating" min="0" max="100" required></p>
			
			<p>
				<label for="input-category">Category: </label>
				<select class="color-orange" id="input-category" name="category">
					<option value="" selected>None</option>

					{% for category in categories | reverse %}
						<option value="{{ category._id }}">{{ category.name }}</option>
					{% endfor %}
				</select>
			</p>

			<p><textarea class="color-orange" id="input-desp" rows="4"></textarea></p>
		</div>

		<!-- Buttons -->
		<p class="text-align-center col-12 offset-0 offset-md-3 col-md-3 no-gutters border-curve color-green game-create">Create</p>
		<a href="/" class="text-align-center col-12 col-md-3 no-gutters border-curve color-orange"><p>Cancel</p></a>
	</div>
</body>
</html>